/* Colors: */
/*
    main blue accent color: #46BCFF
    light blue accent color: #BBE6FF;

    left-bar background color: #F3F3F3;
 */

.project-button {
    -fx-background-color: #46BCFF;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-color: #BBE6FF;
    -fx-border-width: 1px;
}

.project-button:pressed {
    -fx-background-color: #24637d;
}

.left-bar {
    -fx-background-color: #F3F3F3;
}

.undo-button {
    -fx-background-image: url(icons/undo.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.redo-button {
    -fx-background-image: url(icons/redo.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.export-button {
    -fx-background-image: url(icons/export_arrow.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.play-button{
    -fx-background-image: url(icons/lernmodus_button.png);
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}


.add-flashcard-button{
    -fx-background-image: url(icons/add_flashcard.png);
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.add-stack-button{
    -fx-background-image: url(icons/add_stack.png);
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.duplicate-button{
    -fx-background-image: url(icons/duplicate.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.preview-flashcard {
    -fx-background-image: url(icons/preview_flashcard.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.move-down-button{
    -fx-background-image: url(icons/move_down.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.move-up-button{
    -fx-background-image: url(icons/move_up.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}