/* Colors: */
/*
    main blue accent color: #46BCFF;
    light blue accent color: #BBE6FF;

    left-bar background color: #F3F3F3;
    grey border color (also the color of the dividers): #B6B6B6;
 */

.project-button {
    -fx-background-color: #46BCFF;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-color: #BBE6FF;
    -fx-border-width: 1px;
}

.project-button:pressed {
    -fx-background-color: #24637d;
}

.left-bar {
    -fx-background-color: #F3F3F3;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #B6B6B6;
}

.undo-button {
    -fx-background-image: url(icons/undo.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.redo-button {
    -fx-background-image: url(icons/redo.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.export-button {
    -fx-background-image: url(icons/export_arrow.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.play-button{
    -fx-background-image: url(icons/lernmodus_button.png);
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}


.add-flashcard-button{
    -fx-background-image: url(icons/add_flashcard.png);
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.add-stack-button{
    -fx-background-image: url(icons/add_stack.png);
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.duplicate-button{
    -fx-background-image: url(icons/duplicate.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.preview-flashcard {
    -fx-background-image: url(icons/preview_flashcard.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.move-down-button{
    -fx-background-image: url(icons/move_down.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.move-up-button{
    -fx-background-image: url(icons/move_up.png);
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.font-box {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-border-color: #B6B6B6;
    -fx-effect: dropshadow(gaussian, #d0d0d0, 5, 0, 0, 5);
}

.font-color-box {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-border-color: #B6B6B6;
    -fx-effect: dropshadow(gaussian, #d0d0d0, 5, 0, 0, 5);
}

.font-size-box {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-border-color: #B6B6B6;
    -fx-effect: dropshadow(gaussian, #d0d0d0, 5, 0, 0, 5);
}

.bold-button, .underlined-button, .italic-button, .left-align-button, .block-align-button, .right-align-button, .add-numbered-list-button, .add-bullet-list-button{
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-border-color: #B6B6B6;
    -fx-effect: dropshadow(gaussian, #d0d0d0, 5, 0, 0, 5);;
}

.underlined-button, .block-align-button, .add-numbered-list-button, .italic-button, .right-align-button{
    -fx-border-width: 1 1 1 0;
}

.bold-button:selected, .italic-button:selected, .underlined-button:selected, .left-align-button:selected, .block-align-button:selected, .right-align-button:selected, .add-numbered-list-button:pressed, .add-bullet-list-button:pressed{
    -fx-effect: none;
    -fx-background-color: #B6B6B6;
    -fx-border-width: 1 1 1 1;
}

.editor-toolbar {
    -fx-border-color: #B6B6B6;
    -fx-border-width: 1 0 1 0;
}

.tree-view-toolbar {
    -fx-background-color: #EAEAEA;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #D1D1D1;
}

.tree-view {
    -fx-background-color: none;
}

.tree-view .tree-cell {
    -fx-background-color: #F3F3F3;
}

.scroll {
    -fx-background-color: none;
}

