/* Colors: */
/*
    main blue accent color: #46BCFF;
    light blue accent color: #BBE6FF;

    left-bar background color: #F3F3F3;
    grey border color (also the color of the dividers): #B6B6B6;
 */

.project-button {
    -fx-background-color: #46BCFF;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-color: #BBE6FF;
    -fx-border-width: 1px;
}

.project-button:pressed {
    -fx-background-color: #24637d;
}

.left-bar {
    -fx-background-color: #F3F3F3;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #B6B6B6;
}

.undo-button, .redo-button, .export-button, .add-flashcard-button,
.play-button, .add-stack-button, .duplicate-button, .preview-flashcard,
.move-down-button, .move-up-button, .move-up-button
{
    -fx-background-color: transparent;
}

.undo-button:hover, .redo-button:hover, .export-button:hover,
.add-flashcard-button:hover, .play-button:hover, .add-stack-button:hover,
.move-down-button:hover, .move-up-button:hover, .duplicate-button:hover{
    -fx-background-color: #e3e3e3;
}

.undo-button:pressed, .redo-button:pressed, .export-button:pressed,
.add-flashcard-button:pressed, .play-button:pressed, .add-stack-button:pressed,
.move-down-button:pressed, .move-up-button:pressed, .duplicate-button:pressed {
    -fx-background-color: #b5b5b5;
}

.font-box {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-border-color: #B6B6B6;
    -fx-effect: dropshadow(gaussian, #d0d0d0, 5, 0, 0, 5);
}

.font-color-box {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-effect: dropshadow(gaussian, #d0d0d0, 5, 0, 0, 5);
    -fx-color-label-visible: false;
    -fx-color-rect-width: 50px;
    -fx-color-rect-height: 30px;
    -fx-color-rect-x: 30px;
}

.font-color-box > .choice-box{
    -fx-background-color: transparent;
}

.font-size-box {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-border-color: #B6B6B6;
    -fx-effect: dropshadow(gaussian, #d0d0d0, 5, 0, 0, 5);
}

.bold-button, .underlined-button, .italic-button, .left-align-button, .block-align-button, .right-align-button, .add-numbered-list-button, .add-bullet-list-button{
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
    -fx-border-color: #B6B6B6;
    -fx-effect: dropshadow(gaussian, #d0d0d0, 5, 0, 0, 5);;
}

.underlined-button, .block-align-button, .add-numbered-list-button, .italic-button, .right-align-button{
    -fx-border-width: 1 1 1 0;
}

.bold-button:selected, .italic-button:selected, .underlined-button:selected, .left-align-button:selected, .block-align-button:selected, .right-align-button:selected, .add-numbered-list-button:pressed, .add-bullet-list-button:pressed{
    -fx-effect: none;
    -fx-background-color: #B6B6B6;

}

.editor-toolbar {
    -fx-border-color: #B6B6B6;
    -fx-border-width: 1 0 1 0;
}

.tree-view-toolbar {
    -fx-background-color: #EAEAEA;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #D1D1D1;
}

.tree-view {
    -fx-background-color: none;
}
.tree-view .tree-cell {
    -fx-background-color: #F3F3F3;
    -fx-text-fill: black;
}

.tree-view .tree-cell:selected {
    -fx-background-color: #e3e3e3;
    -fx-text-fill: black;
}

.scroll {
    -fx-background-color: none;
}

