/* Colors: */
/*
    main blue accent color: #46BCFF;
    light blue accent color: #BBE6FF;

    left-bar background color: #F3F3F3;
    grey border color (also the color of the dividers): #B6B6B6;
 */
@font-face {
    src: url("Roboto-Regular.ttf");
}

.expand-button {
    -fx-background-color: #4E4E4E;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-color: #4E4E4E;
    -fx-border-width: 1px;
}

.left-bar {
    -fx-background-color: #F3F3F3;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #B6B6B6;
}

.button-bar {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #B6B6B6;
}

.list-view {
    -fx-background-color: #F3F3F3;
    -fx-border-color: #B6B6B6;
    -fx-border-width: 0 0 0 0;
}

.list-cell {
    -fx-background-color: #F3F3F3;
    -fx-padding: 8px 8px 8px 20px;
}

.list-cell:selected {
    -fx-border-color:  #46BCFF;
    -fx-border-width: 0 0 0 2;
    -fx-text-fill: black;
    -fx-background-color: #e3e3e3;
}

.webview-container {
    -fx-background-color: #F3F3F3, #ffffff;
    -fx-background-insets: 15px, 17px;
    -fx-padding: 20px;
    -fx-effect: dropshadow(gaussian, #d7d7d7, 20, 0.1, 0, 7);
}

.scroll-bar:vertical {
    -fx-pref-width: 13px;
    -fx-background-color: transparent;
}

.project-button {
    -fx-background-color: #46BCFF;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-color: #BBE6FF;
    -fx-border-width: 1px;
}

.project-button:pressed {
    -fx-background-color: #24637d;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {

    -fx-background-color: #797979;
    -fx-background-radius: 10px;
}

.edit-button, .export-button {
    -fx-background-color: transparent;
}

.edit-button:hover, .export-button:hover{
    -fx-background-color: #e3e3e3;
}

.expand-button:hover {
    -fx-background-color: #151d11;
}

.answer-button, .next-button{
    -fx-background-color: #46BCFF;
}

.answer-button:hover, .next-button:hover{
    -fx-background-color: #0da6ff;
}

.list-cell:even, .list-cell:odd{
    -fx-alignment: center-left;

}